<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie code logo" />
    <h1>Data</h1>
    <a href="/dataEdit" role="button">Edit Data</a>
  </div>
  <div class="box">
    <h1>stuff</h1>
    <select></select>
  </div>
</main>
<!-- /Main Site -->

<script src="/js/dataView.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
