<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<!-- Main Site -->
<main>
  <div class="indexTopBar">
    <img src="img/SE-GitHub-image.png" alt="Huskie code logo" />
    <h1>Scheduling</h1>
    <a href="/dataView" role="button">View Data</a>
  </div>
  <div class="box">
    <h2 style="color: white">Current Schedule</h2>
    <a id="genButton" role="button" style="color: white">Generate Schedule</a>
    <br />
    <br />
    <center>
      <h1
        id="textStuff"
        style="
          align-self: center;
          color: white;
          font-size: 50px;
          white-space: break-spaces;
          font-family: monospace;
        "
      ></h1>
      <a id="downloadButton" role="button" style="color: white"
        >Download Schedule</a
      >
    </center>
  </div>
</main>
<!-- /Main Site -->

<script src="/js/index.js"></script>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
