<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CTE Department Scheduler</title>
    <link rel="stylesheet" href="/css/pico.red.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>

  <body>
