<!DOCTYPE html>
<html>
  <head>
    <!--<link href="font/Inter.txt" rel="stylesheet"/>-->
    <link href="styles.css" rel="stylesheet" />
    
    <title>Course Scheduler</title>
  </head>
  <body>
    <script src="script.js"></script>
    <div class="schedulePopUp">
      <div class="popupFrame">
        <div class="teacherFlex">
          <div class="teacherIconFlex">
            <div class="teacherBox popupBox">
              <div class="teacherLogo popupLogo"></div>
              <span class="teacherPopupText popupText">TEACHER</span>
              <div class="editTeacher">
                <div class="editTeacherImage editIcon"></div>
              </div>
              <div class="teacherDropdown dropdown"></div>
              <div class="teacherCutoff cutoff"></div>
            </div>
          </div>
          <div class="popupX">
            <div class="popupXImage"></div>
          </div>
        </div>
        <div class="courseIconFlex">
          <div class="courseBox popupBox">
            <div class="courseLogo popupLogo"></div>
            <span class="coursePopupText popupText">COURSE</span>
            <div class="editCourse">
              <div class="editCourseImage editIcon"></div>
            </div>
            <div class="courseDropdown dropdown"></div>
            <div class="courseCutoff cutoff"></div>
          </div>
        </div>
        <div class="roomBox popupBox">
          <div class="roomLogo popupLogo"></div>
          <span class="roomPopupText popupText">ROOM</span>
        </div>
        <div class="periodFlex">
          <div class="periodBox popupBox">
            <div class="periodLogo popupLogo"></div>
            <span class="periodPopupText popupText">PERIOD</span>
          </div>
          <div class="popupTrash">
            <div class="popupTrashImage"></div>
          </div>
        </div>
      </div>
      <div class="createEntry">
        <button class="createEntryButton">
          <span class="createEntryText">CREATE ENTRY</span>
        </button>
      </div>
    </div>
    <div class="topFrame">
      <div class="mainFrame">
        <div class="navbar">
          <div class="navbar-flex">
            <div class="huskieCircle dropShadow"><div class="huskieLogo"></div></div>
            <div class="mainTextContainer">
              <span class="mainText">COURSE SCHEDULER</span>
            </div>
            <div class="navButtons">
              <div class="viewButton"><span class="viewButtonText">VIEW</span></div>
              <div class="editButton"><span class="editButtonText">EDIT</span></div>
              <div class="prefButton"><span class="prefButtonText">PREFERENCES</span></div>
            </div>
          </div>
        </div>
        <div class="mainSection">
          <div class="leftContent">
            <div class="scheduleFrame">
              <div class="leftBar">
                <div class="corner">
                  <div class="uploadDiv">
                    <div class="uploadIcon"></div>
                    <input type="file" class="fileUpload" accept=".json"></input>
                  </div>
                </div>
                <div class="classBar">
                  <div class="classDisplay"><span class="classText">114</span></div>
                  <div class="classDisplay"><span class="classText">115</span></div>
                  <div class="classDisplay"><span class="classText">116</span></div>
                  <div class="classDisplay"><span class="classText">117</span></div>
                  <div class="classDisplay"><span class="classText">119</span></div>
                  <div class="classDisplay"><span class="classText">120</span></div>
                  <div class="classDisplay"><span class="classText">121</span></div>
                  <div class="classDisplay"><span class="classText">123</span></div>
                  <div class="classDisplay"><span class="classText">126</span></div>
                  <div class="classDisplay"><span class="classText">128</span></div>
                  <div class="classDisplay"><span class="classText">129</span></div>
                  <div class="classDisplay"><span class="classText">130</span></div>
                  <div class="classDisplay"><span class="classText">132</span></div>
                  <div class="classDisplay"><span class="classText">134</span></div>
                  <div class="classDisplay"><span class="classText">138</span></div>
                  <div class="classDisplay"><span class="classText">139</span></div>
                </div>
              </div>
              <div class="rightBar">
                <div class="periodBar">
                  <div class="periodDisplay"><span class="periodText">1</span></div>
                  <div class="periodDisplay"><span class="periodText">2</span></div>
                  <div class="periodDisplay"><span class="periodText">3</span></div>
                  <div class="periodDisplay"><span class="periodText">4</span></div>
                  <div class="periodDisplay"><span class="periodText">5</span></div>
                  <div class="periodDisplay"><span class="periodText">6</span></div>
                  <div class="periodDisplay"><span class="periodText">7</span></div>
                  <div class="periodDisplay"><span class="periodText">8</span></div>
                </div>
                <div class="scheduleBox">
                </div>
              </div>
            </div>
          </div>
          <div class="rightContent">
            <div class="rightFrame">
              <div class="graphFrame">
                <div class="graphFit">
                  <div class="topGraphFrame">
                    <div class="topMask">
                      <div class="v2021_5"></div>
                      <div class="v2021_17"></div>
                      <span class="topPercent">100%</span>
                    </div>
                    <div class="topLine"></div>
                    <span class="topText">REQUIREMENTS FILLED</span>
                  </div>
                  <div class="bottomGraphFrame">
                    <div class="bottomMask">
                      <div class="v2022_10"></div>
                      <div class="v2022_11"></div>
                      <span class="bottomPercent">75%</span>
                    </div>
                    <div class="bottomLine"></div>
                    <span class="bottomText">PREFERENCES FILLED</span>
                  </div>
                </div>
              </div>
              <div class="downloadFrame">
                <div class="downloadTextFrame">
                  <span class="downloadText">DOWNLOAD OPTIONS</span>
                </div>
                <div class="name"></div>
                <div class="buttonFrame">
                  <button class="jsonButton">
                    <span class="jsonText">DOWNLOAD AS JSON</span>
                    <div class="downloadImage"></div>
                  </button>
                  <button class="csvButton">
                    <span class="csvText">DOWNLOAD AS CSV</span>
                    <div class="downloadImage"></div>
                  </div>
                </button>
              </div>
              <button class="generateButton">
                <span class="generateText">GENERATE NEW SCHEDULE</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
