/* styling for the authentication page */

.box {
  background-color: #c10f0f;
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.scrollSelector {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  max-height: 240px;
  overflow: auto;
}

textarea {
  resize: none;
}

.hidden {
  visibility: hidden;
  height: 0px;
  width: 0px;
}

.selector {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
  border-radius: 10px;
  padding: 20px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.authForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.periodSelector {
  color: white;
  text-align: center;
}

.authForm img {
  width: 100px;
  height: 100px;
}

.indexTopBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.indexTopBar img {
  flex-shrink: 0;
  width: 150px;
  height: 100px;
  margin-left: 30px;
}

.indexTopBar h1 {
  margin-right: auto;
}

.entry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border: black 1px solid;
}

.entryHabit {
  flex-basis: 200px;
}

.entryContent {
  flex-grow: 1;
}
